.navbar{
    background-color:cadetblue;   
    max-width: 100vw;
    padding: 5px;
    margin-top: 0;
    height: 40px;
    
}

.container{
    max-width: 95vw;
    margin:0 auto;
    height: 100%;
}

.nav-con{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: mistyrose;
    font-weight: bold;
}

.navbar-ul{
    padding: 0;
    margin: 0;
    display: flex;
    width: 20%;
}

.navbar-ul li {
    margin-right: 10%;
    list-style: none;
}


@media (max-width:425px) {
    .navbar{
        background-color:cadetblue;   
        width: 100vw;
        padding: 5px;
        margin-top: 0;
        height: 70px;
    }
    .nav-con{
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    
    .navbar-ul{
        padding: 0;
        margin: 0;
        display: flex;
        width: 70%;
        flex-direction: column;
        text-align: center;
    }
    
    .navbar-ul li {
 
        margin-left: 0;
        list-style: none;
    }
}